<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isNewCuidador ? 'Adicionar Novo Cuidador' : 'Editar Pet' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="saveCuidador()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="cuidador.nome" name="nome" required=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="cuidador.telefone" name="especie" required=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Expêriencia</ion-label>
      <ion-input type="text" [(ngModel)]="cuidador.experiencia" name="experiencia" required=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Especialidades</ion-label>
      <ion-input type="text" [(ngModel)]="cuidador.especialidades" name="especialidades" required=""></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!form.valid" class="ion-margin-top">
      Salvar
    </ion-button>
  </form>
</ion-content>
