<ion-header>
  <ion-toolbar>
    <ion-title>Meus Itens</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="items.length === 0">
    Nenhum item cadastrado ainda.
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteItem(item.id!)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="editItem(item)">
          Editar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
